{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="about_page_wrapper">
    <div class="about_wrapper">
        <h1 class="about_header">About</h1>
        <hr>
        <p class="about_txt">The website is still work in progress.</p>
        <p class="about_txt">Also the code is not optimized well because I'm just a beginner 
            but I'll do everything in my power to make it as quick as possible :)</p>
        <p class="about_txt">Things to be implemented aka Roadmap:
            <br>• comments and upvotes/downvotes page reloading (through AJAX requests)
            <br>• proper chat window
            <br>• notifications
            <br>• categories for different types of news (videogames, movies, anime, etc.)
        </p>
        <p class="about_txt"><a href="https://github.com/Migueliot1/news" class="about_link">GitHub repository</a></p>
        <p class="about_txt">
            Made by: <a class="about_link" href="https://github.com/Migueliot1"><i class='bx bxl-github'></i>@Migueliot1 </a>
        </p>
    </div>
</div>

{% endblock %}
