{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="login-wrapper">

    <div class="login">
        <div class="login__content">
            <div class="login__img">
                <img src="{% static 'imgs/other/gaming.png' %}" alt="">
            </div>

            <div class="login__forms">
                
                <form action="{% url 'login' %}" method="POST" class="login__register" id="login-in">
                    {% csrf_token %}
                    <h1 class="login__title">Sign In</h1>
                    
                    <div class="login__box">
                        <i class='bx bx-user login__icon'></i>
                        <input type="text" name="Username_login" placeholder="Username" class="login__input"/>
                    </div>

                    <div class="login__box">
                        <i class='bx bx-lock login__icon'></i>
                        <input type="password" name="Password_login" placeholder="Password" class="login__input"/>
                    </div>
                        
                    <a href="#" class="login__forgot">Forgot password?</a>

                    <a href="#" class="login__button" id="login-button">Sign In</a>

                    <div>
                        <span class="login__account">Don't have an Account?</span>
                        <span class="login__signin" id="sign-up">Sign Up</span>
                    </div>
                </form>


                <form method="POST" action="" class="login__create none" id="login-up">
                    {% csrf_token %}
                    <h1 class="login__title">Create Account</h1>
                    
                    <div class="login__box">
                        <i class='bx bx-user login__icon'></i>
                        {{registerForm.username}}
                    </div>

                    <div class="login__box">
                        <i class='bx bx-at login__icon'></i>
                        {{registerForm.email}}
                    </div>

                    <div class="login__box">
                        <i class='bx bx-lock login__icon'></i>
                        {{registerForm.password1}}
                    </div>

                    <div class="login__box">
                        <i class='bx bx-lock login__icon'></i>
                        {{registerForm.password2}}
                    </div>

                    <a href="#" class="login__button" id="signup-button">Sign Up</a>

                    <div>
                        <span class="login__account">Already have an Account?</span>
                        <span class="login__signup" id="sign-in">Sign In</span>
                    </div>

                    <div class="login__social">
                        <a href="#" class="login__social-icon"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="login__social-icon"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="login__social-icon"><i class="bx bxl-google"></i></a>
                    </div>
                </form>


            </div>


        </div>

    </div>

</div>

{% endblock %}
